/*общая разметка страницы, формирование сетки*/
$sprite: '../IMGS/icons.svg';

@mixin spriteImg($x, $y)
{
    background-image: url($sprite);
    background-repeat: no-repeat;
    background-position: $x $y;
    background-size: cover;
}

@mixin absPosition($x: 0px, $y: 0px)
{
    position: absolute;
    left: $x;
    top: $y;
}

@mixin flexRow($align: space-around)
{
    display: flex;
    flex-direction: row;
    justify-content: $align;
}

@mixin flexCol($align: space-around)
{
    display: flex;
    flex-direction: column;
    justify-content: $align;
}

@mixin box($w, $h)
{
    width: $w;
    height: $h;
}

@mixin boxColors($clBox, $clBorder)
{
    background-color: $clBox;
    border: 1px solid $clBorder;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: none;
    text-decoration: none;
}

html, body{
    height: 100%;
}

.main{
    min-height: 100%;
    margin-bottom: -150px;
    padding-bottom: 150px;
}

header{
    padding-top: 25px;
    padding-bottom: 25px;
}

footer{
    min-height: 150px;
    padding-bottom: 5px;
}
/*классы по ширине и высоте блоков*/
.w-025{
    width: calc(25% - 5px);
}

.w-035{
    width: calc(35% - 5px);
}

.w-040{
    width: calc(40% - 5px);
}

.w-060{
    width: calc(60% - 5px);
}

.h-050{
    height: 50%;
}
/*класс предупреждающего сообщения*/
.attention-msg{
	font-size: 0.75em;
	font-weight: 300;
    font-style: italic;
	color:#888;
}
/* класс псевдокнопки на основе дви-а. Возможно, стоит сгруппировать все служебные элементы вместе */
.pseudobutton{
    min-width: 100px;
    padding-top: 5px;
    padding-bottom:10px;
    text-align: center;
    @include boxColors(white, black);

    &:hover{
        box-shadow: 0px 0px 5px 0px black;
    }
}
/* псевдокнопка закрытия страницы*/
.close-box{
    @include absPosition(calc(100% - 25px), 10px);
    @include box(15px, 15px);
    @include spriteImg(0px, 0px);
}

//Псевдокнопка для закрытия фото
.close-box-gallery {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 48px;
    height: 48px;
    background-image: url("../IMGS/baseline_close_white_48dp.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0.6;
    pointer-events: none;
}

.ok-box{
    @include box(20px, 20px);
    @include spriteImg(-22px, 0px); 
    margin: auto;
}

.ok-box, .close-box{
    &:hover{
        transform-origin:7px 7px;
        transform: scale(1.5, 1.5);
    }
}
/* блок с выводом анкетных данных пользователя */
.personal-info, .votes{
    padding:5px;
    @include flexRow();
    align-items: stretch;
}

.personal-info>*, .votes>*{
    min-height: 100px;
    margin: 5px;
}

.personal-info{
    h2{
        text-align: center;
    }

    ul{
        list-style-type: none;
        padding: 5px 10px;
        position: relative;

        li {
            span{
                display: inline-block;
                margin: 3px 5px;
            }
            margin-top: 10px;
        }
    }
}

.popup-box{
    @include absPosition(0px, 25%);
    @include boxColors(white, black);
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.5);

    .controls{
        position:relative;
        padding:25px 10px 10px 10px;

        input[type='text']{
            display: block;
            margin: auto;
            margin-top: 10px;
            border: 1px solid black;
            width: 75%;
            padding:2px 5px;;
        }

        *:not(.close-box){
            margin-top: 10px;
        }
    }
}
/* блок с выводом данных о проводимых промо-акциях */
.promo-action{
	padding: 5px 10px;
    line-height: 1.15em;
    
    div{
        margin-top:5px;
        padding: 10px 15px;
    }
}

.auto-info p{
	padding:5px 10px;
}

span.change-button{
    text-decoration: underline;
}
/* Данные о времени регистрации пользователя */
.data-box{
    @include boxColors(#eee, #ccc);
    padding: 10px 15px;
    margin-bottom: 10px;
}
/* оформление фотогалереи и отдельных фотографий в ней */
.photoes{
    padding-top: 5px;
    .gallery{
        padding: 5px;
        
        figure{
            display: block;
            margin: auto;
            padding: 5px;
            margin-bottom: 10px;
            height: 260px;	
            img{
                display: block;
                margin: auto;
                margin-bottom: 5px;
                border: 1px solid black;
                max-height: 100%;
                max-width: 100%;
                cursor: pointer;
            }
        }
    }
}

// класс полноэкранного просмотра
.photo-zoom {
    overflow: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;

    img {
        max-width: 80%;
        max-height: 80%;
        cursor: pointer;
    }

    .del-alert {
        position: absolute;
        color: #aaa;
        vertical-align: middle;
        background: rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }

    .prev {
        width: 80px;
        height: 80px;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        cursor: pointer;
        opacity: 0.6;
        transition: all 0.3s ease;
        left: 15px;
        background-image: url("../IMGS/baseline_navigate_before_white_48dp.png");

        &:hover {
            opacity: 1;
            transition: all 0.3s ease;
        }
    }

    .forw {
        width: 80px;
        height: 80px;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        cursor: pointer;
        opacity: 0.6;
        transition: all 0.3s ease;
        right: 15px;
        background-image: url("../IMGS/baseline_navigate_next_white_48dp.png");

        &:hover {
            opacity: 1;
            transition: all 0.3s ease;
        }
    }

    .del {
        position: absolute;
        font-size: 14pt;
        text-align: center;
        color: #ccc;
        cursor: pointer;
        transition: all 0.3s ease;
        bottom: 8px;
        right: 32px;

        &:hover {
            text-decoration: underline;
            color: #fff;
            transition: all 0.3s ease;
        }
    }
}

.gallery{
    padding: 5px;
    
    figure{
        display: block;
        margin: auto;
        padding: 5px;
        margin-bottom: 10px;
        @include box(90%, 280px);

        img{
            display: block;
            margin: auto;
            margin-bottom: 5px;
            border: 1px solid black;
            max-width: 90%;
        }
    }
}
/* блок контактных данных пользователя */
.email-contacts{
	margin: auto;
	max-width: 65%;
    padding: 5px 10px;
    
    p{
        margin-bottom: 5px;
    }
}
/* голосовалка */
.design-votes{
    ul{
        padding-top: 15px;
        @include flexRow();
        list-style-image: none;

        li{
            display:block;
            @include box(100px, 100px);
            color: #aaa;
            border: 2px solid #aaa;

            &:hover{
                color: black;
                border-color: black;
            }
        }
    }
} 
/* данные про автомобиль пользователя */
.auto-info{
    padding:10px;
	text-align:center;
}
.notes-block{
    padding: 10px;
}

.notes-block>*:first-child{
    margin-bottom: 5px;
}
// форма загрузки изображений
.img-load{
    display: block;
    .load-invite{
        width: 150px;
    }
    .load-invite, input, button{
        display: block;
        padding: 10px;
        text-align: center;
        font-size: 0.8em;
        margin: 5px auto;
        border-radius: 6px;
        background: #ccb69e;
        color: #040624;
        cursor: pointer;

        &:hover {
            color: #040624;
            transition: all 0.3s ease;
            box-shadow: #333333;
        }

    }
}
/* оформление заголовка */
header{
    @include flexRow(space-between);
    width: 100%;

    h1{
        margin-left: 50px;
        text-transform: uppercase;
        font-size: 1.5em;
    }

    nav{
        width: 60%;

        ul{
            @include flexRow();
            list-style-type: none;

            li{
                min-width: 30%;
                margin: 5px 10px;
                text-transform: uppercase;
            }
        }
    }
}
/* оформление футера и таблиц в основании страницы*/
footer{
    background-color: #aaa;
    padding-top: calc(75px - 0.5em);
    text-align: center;
    display: block;
}

.table-box table{
    margin: auto;
    margin-bottom: 25px;
    width: 80%;
}

table, tr, td, th{
    border-collapse: collapse;
}

tr>*{
    padding:3px 5px;
}

thead{
    border: 1px solid #333;
    tr{
        th{
            background-color: #333;
            color:#ddd;
            font-weight: 500;
            font-size: 1em;
        }
        
        &:first-child th{
            padding: 10px;
        }

        &:last-child th{
            font-size: 0.8em;
            padding-bottom: 5px;
        }

    }
}

td{
    @include boxColors(white, black);
    text-align: left;

    .email-cell{
        @include flexRow(space-between);

        input{
            margin-left: 20px;
        }
    }
}
/* инфосообщение о баллах пользователя*/
footer .info-msg{
    margin: auto;
    padding: 10px 25px 25px 25px;
    max-width: 80%;
    margin-bottom: 10px;
    @include boxColors(white, black);

    text-align: left;
    line-height: 1.25em;
    b{
        padding-bottom: 0.75em;
    }

    br{
        margin-bottom: 5px;
    }
}
/* образмеривание шрифтов на странице*/
body{
	font-size: 20px;
    font-family: 'Playfair Display', serif;
}

h1{
    font-size: 1.5em;
}

h2{
	font-size: 1.35em;
	letter-spacing: 0.15em;
}

h3{
	font-size:1.15em;
}

h2, h3{
	text-align: center;
}

a{
    color:#888;
    font-family: Lucida;
    padding-bottom: 5px;

    &:link, &:visited{
        text-decoration: none;
    }
}

nav a{
    &:hover, &:focus, &:active{
        border-bottom: 1px solid #888;
    }
}