.profile {
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
}

.profile .left_section {
	width: 150px;
}

.profile .right_section {
	width: calc(100% - 150px);
}

.profile .left_section .photo {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	margin: 0px auto;
}

.profile .left_section .upload_photo_wrap {
	margin-top: 10px;
}

.profile .left_section .gallery_open_wrap {
	margin-top: 5px;
}

.profile .left_section .upload_photo_button,
.profile .left_section .gallery_open_button {
    padding: 8px 20px;
    text-align: left;
    background: #34495ede;
    color: #fff;
    font-size: 15px;
    border-radius: 50px;
    transition: all 0.12s ease-in-out;
}

.profile .left_section .upload_photo_button:hover,
.profile .left_section .gallery_open_button:hover {
    cursor: pointer;
	background: #34495eeb;
}

.profile .left_section i {
    width: 22px;
    vertical-align: -1px;
}


.profile .left_section .upload_photo_button i {
    width: 19px;
    vertical-align: -1px;
}

#upload_photo_file {
	display: none;
}

.profile .right_section .gallery {
    display: inline-block;
    width: 360px;
    height: 300px;
    margin: 5px;
    border-radius: 5px;
}

.profile .right_section .gallery .photo {
    display: inline-block;
    width: 360px;
    height: 300px;
    margin: 5px;
    border-radius: 5px;
}