.profile_img{
    width: 300px;
    cursor: pointer;
}

.prifile_name{
  font-size: 20px;
  margin-top: 15px
}

.profile_hint{
    font-size: 0.75em;
    font-weight: 300;
    font-style: italic;
    color: #888;
}

.profile_value{
      font-size: 15px;
}