<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru">
<!--<![endif]-->

<head>
    <script type="text/javascript">
			 const accessToken = "${accessToken}";
             const apiPath = '${apiPath}';
             const shopId = '${shopId}';
   </script>

  <meta charset="utf-8" />
  <title>Бонус Класс -- Главная</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="shortcut icon" href="favicon.png" />
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css?${version}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css?${version}"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="libs/magnific-popup/magnific-popup.css?${version}" />
  <link rel="stylesheet" href="libs/slick/slick.css?${version}" />
  <link rel="stylesheet" href="libs/basic-lightbox/basicLightbox.min.css?${version}">
  <link rel="stylesheet" href="css/fonts.css?${version}" />
  <link rel="stylesheet" href="css/main.css?${version}" />
  <link rel="stylesheet" href="css/media.css?${version}" />
  <link rel="stylesheet" href="css/user.css?${version}" />
</head>

<body>
  <div class="flex-wrapper">
    <header class="main-header">
      <a href="/" class="logo">Бонус Класс</a>
      <ul class="menu">
        <li><a href="">эксперты моды</a></li>
        <li><a href="#voting">дизайн опрос</a></li>
        <li><a href="">бонусная программа</a></li>
      </ul>
      <a href="" class="header-phone"><i class="fas fa-phone"></i> +7 926 111 22 33</a>
      <a id="me" href="/user" class="header-admin"><i class="fas fa-user-circle"></i> Мой профиль</a>
      <a id="login_btn" href="/login" class="header-admin"><i class="fas fa-user-circle"></i> Войти</a>

      <div class="sandwich">
        <div class="sw-topper"></div>
        <div class="sw-bottom"></div>
        <div class="sw-footer"></div>
      </div>
    </header>
    <div class="main">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-4">
                  <a href="img/main-slider-img.jpg" class="img-lightbox-link" aria-hidden="true" rel="lightbox">
                    <img class="card-img" src="img/main-slider-img.jpg" alt="Image Lightbox" />
                    <div class="lightbox-wrapper" style="display: none;">
                        <div class="lightbox-body">
                          <img class="card-img" src="img/main-slider-img.jpg" alt="Image Lightbox" />
                          <div class="bute">
                          <p style="color: antiquewhite;"><button type="button" class="btn btn-info">Купить</button></p>
                          <p style="color: antiquewhite;">??????????</p>
                          </div>
                        </div>
                    </div>
                 </a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Товар 1</h5>
                  <p class="card-text card-tex">Краткое описание товара.Краткое описание товара.Краткое описание
                    товара.Краткое
                    описание товара.Краткое описание товара.</p>
                    <div class="price">
                      <p class="card-text card-ball"><small class="text-muted">Баллов за покупку:123</small></p>
                      <div class="but">
                        <p class="card-price">410 ₽.</p>
                        <button type="button" class="btn btn-info">Купить</button>
                      </div>
                    </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <a href="img/main-slider-img.jpg" class="img-lightbox-link" aria-hidden="true" rel="lightbox">
                      <img class="card-img" src="img/main-slider-img.jpg" alt="Image Lightbox" />
                      <div class="lightbox-wrapper" style="display: none;">
                          <div class="lightbox-body">
                            <img class="card-img" src="img/main-slider-img.jpg" alt="Image Lightbox" />
                            <div class="bute">
                              <p style="color: antiquewhite;"><button type="button" class="btn btn-info">Купить</button></p>
                            <p style="color: antiquewhite;">?????????</p>
                          </div>
                          </div>
                      </div>
                   </a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Товар 1</h5>
                    <p class="card-text card-tex">Краткое описание товара.Краткое описание товара.Краткое описание
                      товара.Краткое
                      описание товара.Краткое описание товара.</p>
                      <div class="price">
                        <p class="card-text card-ball"><small class="text-muted">Баллов за покупку:123</small></p>
                        <div class="but">
                          <p class="card-price">410 ₽.</p>
                          <button type="button" class="btn btn-info">Купить</button>
                        </div>
                      </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="col-md-6 col-lg-4">
          <div class="card-block">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <a href="img/main-slider-img.jpg" class="img-lightbox-link" aria-hidden="true" rel="lightbox">
                      <img class="card-img" src="img/main-slider-img.jpg" alt="Image Lightbox" />
                      <div class="lightbox-wrapper" style="display: none;">
                          <div class="lightbox-body">
                            <img class="card-img" src="img/main-slider-img.jpg" alt="Image Lightbox" />
                            <div class="bute">
                              <p style="color: antiquewhite;"><button type="button" class="btn btn-info">Купить</button></p>
                            <p style="color: antiquewhite;">?????????</p>
                          </div>
                          </div>
                      </div>
                   </a>
                </div>
              <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Товар 3</h5>
                    <p class="card-text card-tex">Краткое описание товара.Краткое описание товара.Краткое описание
                        товара.Краткое
                        описание товара.Краткое описание товара.</p>
                        <div class="price">
                            <p class="card-text card-ball"><small class="text-muted">Баллов за покупку:123</small></p>
                            <div class="but">
                              <p class="card-price">410 ₽.</p>
                              <button type="button" class="btn btn-info">Купить</button>
                            </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <a href="img/main-slider-img.jpg" class="img-lightbox-link" aria-hidden="true" rel="lightbox">
                      <img class="card-img" src="img/main-slider-img.jpg" alt="Image Lightbox" />
                      <div class="lightbox-wrapper" style="display: none;">
                          <div class="lightbox-body">
                            <img class="card-img" src="img/main-slider-img.jpg" alt="Image Lightbox" />
                            <div class="bute">
                              <p style="color: antiquewhite;"><button type="button" class="btn btn-info">Купить</button></p>
                            <p style="color: antiquewhite;">?????????</p>
                          </div>
                          </div>
                      </div>
                   </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Товар 4</h5>
                      <p class="card-text card-tex">Краткое описание товара.Краткое описание товара.Краткое описание
                          товара.Краткое
                          описание товара.Краткое описание товара.</p>
                          <div class="price">
                              <p class="card-text card-ball"><small class="text-muted">Баллов за покупку:123</small></p>
                              <div class="but">
                                <p class="card-price">410 ₽.</p>
                                <button type="button" class="btn btn-info">Купить</button>
                              </div>
                            </div>
                            </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="main-footer">
      <div class="footer-content">
        <a href="">Бонус Класс</a>
        © 2018
      </div>
    </footer>
  </div>
  <div class="hidden">
    <div id="voting">
    </div>
  </div>
</body>
<!--[if lt IE 9]>
<script src="libs/html5shiv/es5-shim.min.js?${version}"></script>
<script src="libs/html5shiv/html5shiv.min.js?${version}"></script>
<script src="libs/html5shiv/html5shiv-printshiv.min.js?${version}"></script>
<script src="libs/respond/respond.min.js?${version}"></script>
<![endif]-->
<script src="libs/jquery/jquery-1.11.1.min.js?${version}"></script>
<script src="libs/magnific-popup/jquery.magnific-popup.min.js?${version}"></script>
<script src="libs/slick/slick.js?${version}"></script>
<script src="libs/basic-lightbox/basicLightbox.min.js?${version}"></script>
<script src="js/common.js?${version}"></script>
<script src="js/api.js?${version}"></script>
<script src="js/initial.js?${version}"></script>
<script src="js/poll.js?${version}"></script>

</html>