<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>
<html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]>
<html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>Бонус Класс -- Мой профиль</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="shortcut icon" href="favicon.png"/>
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css?${version}"/>
    <link rel="stylesheet" href="libs/magnific-popup/magnific-popup.css?${version}"/>
    <link rel="stylesheet" href="libs/slick/slick.css?${version}"/>
    <link rel="stylesheet" href="css/fonts.css?${version}"/>
    <link rel="stylesheet" href="css/main.css?${version}"/>
    <link rel="stylesheet" href="css/media.css?${version}"/>
    <link rel="stylesheet" href="css/user.css?${version}"/>

    <script>
      const accessToken = "${accessToken}";
      const apiPath = '${apiPath}';

    </script>
</head>
<body>
<header>
    <a href="/" class="logo">Бонус Класс</a>
    <ul class="menu">
        <li><a href="">эксперты моды</a></li>
        <li><a href="#voting">дизайн опрос</a></li>
        <li><a href="">бонусная программа</a></li>
    </ul>
    <a href="" class="header-phone"><i class="fas fa-phone"></i> +7 926 111 22 33</a>
    <a id="me" href="/user" class="header-admin"><i class="fas fa-user-circle"></i> Мой профиль</a>
    <a id="login_btn" href="/login" class="header-admin"><i class="fas fa-user-circle"></i> Войти</a>

    <div class="sandwich">
        <div class="sw-topper"></div>
        <div class="sw-bottom"></div>
        <div class="sw-footer"></div>
    </div>
</header>
<div class="main">
    <span>
      <img class="profile_img" src="img/main-slider-img.jpg">
    </span>

    <div>
        <span class="prifile_name">Глеб Климов</span>
        <br/>
        <span class="profile_status">Покупатель</span>

        <span class="profile_link">Ссылка</span>

        <span class="profile_value">11 августа 1988</span>
        <br/>
        <span class="profile_hint">11 августа 1988</span>
    </div>
</div>

<div class="main-region">
    <span>Московский регион</span>
    <p>Рейтинг "Золотая сотня лидеров"</p>
    <table>
        <tr>
            <td></td>
            <td></td>
            <td>Баллы</td>
            <td>Активные эксперты 1й линии</td>
            <td>Всего экспертов в 1й линии</td>
            <td>Активные эксперты 2й и 3й линии</td>
            <td>Активные эксперты 2й и 3й линии</td>
        </tr>
        <tr>
            <td>1</td>
            <td>0078</td>
            <td>998000</td>
            <td>54</td>
            <td>54</td>
            <td>54</td>
            <td>54</td>
        </tr>
        <tr>
            <td>1</td>
            <td>0078</td>
            <td>998000</td>
            <td>54</td>
            <td>54</td>
            <td>54</td>
            <td>54</td>
        </tr>
        <tr>
            <td>1</td>
            <td>0078</td>
            <td>998000</td>
            <td>54</td>
            <td>54</td>
            <td>54</td>
            <td>54</td>
        </tr>
        <tr>
            <td>1</td>
            <td>0078</td>
            <td>998000</td>
            <td>54</td>
            <td>54</td>
            <td>54</td>
            <td>54</td>
        </tr>
        <tr>
            <td>1</td>
            <td>0078</td>
            <td>998000</td>
            <td>54</td>
            <td>54</td>
            <td>54</td>
            <td>54</td>
        </tr>
    </table>
</div>
<footer>
    <div class="footer-content">
        <a href="">Бонус Класс</a>
        © 2018
    </div>
</footer>
<div class="hidden">
    <div id="voting">
    </div>
</div>
</body>
<!--[if lt IE 9]>
<script src="libs/html5shiv/es5-shim.min.js?${version}"></script>
<script src="libs/html5shiv/html5shiv.min.js?${version}"></script>
<script src="libs/html5shiv/html5shiv-printshiv.min.js?${version}"></script>
<script src="libs/respond/respond.min.js?${version}"></script>
<![endif]-->
<script src="libs/jquery/jquery-1.11.1.min.js?${version}"></script>
<script src="libs/magnific-popup/jquery.magnific-popup.min.js?${version}"></script>
<script src="libs/slick/slick.js?${version}"></script>
</html>